# ------------------------------------------------------------------------------
# ENVIRONMENT PROFILE & NETWORKING
# ------------------------------------------------------------------------------
ENV_PROFILE               =production
HOST_URL                  =xxxxxx.com

# ------------------------------------------------------------------------------
# PLATFORM USER CREDENTIALS (Override in production via CI/CD secrets)
# ------------------------------------------------------------------------------
## Postgres Information
POSTGRES_USER               =airflow
POSTGRES_PASSWORD           =airflow

## Airflow Information
AIRFLOW_USERNAME            =admin
AIRFLOW_PASSWORD            =admin
AIRFLOW_FIRST_NAME          =Jonh
AIRFLOW_LAST_NAME           =Smith
AIRFLOW_EMAIL               =admin@example.com

## MLflow Information
MLFLOW_USERNAME             =mlflow
MLFLOW_PASSWORD             =mlflow

## MinIO Information
MINIO_ROOT_USER             =admin 
MINIO_ROOT_PASSWORD         =admin

## Jupyter Information
JUPYTER_TOKEN               =admin

# ------------------------------------------------------------------------------
# PLATFORM PORT CONFIGURATIONS
# ------------------------------------------------------------------------------

## Port configurations for the platform services
GITLAB_HOST_PORT    =5000
MLFLOW_PORT         =5001
AIRFLOW_WEB_PORT    =8090
MINIO_CONSOLE_PORT  =9001
MINIO_API_PORT      =9000
SPARK_MASTER_PORT   =8091
JUPYTER_PORT        =8888
POSTGRES_PORT       =5433